	header {
	background: linear-gradient(90.04deg,#181717 .02%,#06125c 55.64%);
	margin-top: 5px ;
	border-radius: 20px;
	color: white;
	position: sticky;
    top: 0;
    left: 0;
	z-index:2;
	}

	.navbar-nav .nav-link.active{
		color: #fff;
	}

	.nav-link{
		text-align: center;
		color: #fff;
	}

	body{
		background: linear-gradient(90.04deg,#181717 .02%,#3e3e3f 55.64%);
	}

	h1{
		font-size: 65px;
		margin-left: 10px;
	}

	#inicio{
		padding-bottom: 20px;
		margin-top: 20px;
	}

	#categorias h2{
		padding: 100px;
		padding-bottom: 30px;
		font-size: 50px;
		text-align: center;
		color: #fff;
	}

	.card-img-overlay{
		background-color: rgba(0, 0, 0, 0.5);
	}

	.card{
		margin-top: 20px;
		margin-bottom: 20px;
		
	}

	.card img {
		border-radius: 8px; 
		border-color: none;
		height: 400px;
	}

	.card-title{
		text-align: center;
		padding-bottom: 15px;
	}

	.alert	{
		margin-bottom: 10px;
	}

	section h2{
		margin-top: 10px;
		font-size: 40px;
		text-align: center;
		color: #fff;
	}

	label	{
		color:  #fff;
	}

	.form-label{
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}

	.form-check{
		margin-bottom: 2rem;
		margin-top: 1.5rem;
	}

	@media screen and (max-width: 767px) {
		.container {
			display: block;
		}

		section h2	{
			font-size: 25px;
		}

		.col-4 {
			display: block;
			width: 100%;
		}

		.card img{
			height: 200px ;
		}

		.card-title{
			text-align: center;
			padding-bottom: 08px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1023px){
		.container{
			display: block;
		}

		.row {
			display: grid;
			grid-template-columns: repeat(2, 49%);
			column-gap: 1%;
			margin: 0 auto;
		}

		.col-4{
			max-width: 100%;
			width: 100%;
		}
	}